name: Push Docker images

on:
  push:
    branches:
      - master # 你要觸發的分支
  schedule:
    - cron: "0 0 * * *" # 每天執行一次

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - version: "8.2-debian"
            file: Dockerfile-8.2
          - version: "8.3-debian"
            file: Dockerfile-8.3
          - version: "8.4-debian"
            file: Dockerfile-8.4
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ${{ matrix.file }}
          push: true
          tags: |
            etcdevelop/frakenphp:${{ matrix.version }}
